{% extends "index.html" %}

{% block title %}Category Detail: {{cat}}{% endblock %}

{% block main %}
<h1><small>{{cat}}</small></h1>
<h3>{{questions|length}} questions</h3>
<p>Click on any of the questions to see the full question details.</p>
{% for question in questions %}
<h4><a href="/questions/{{question.id}}">${{question.normalizedValue}}: {{question.text}}</a></h4>
<div id="spoiler{{question.id}}" style="display:none"> 
{{question.answer}}
</div> 
<button title="Click to show/hide answer" type="button" onclick="if(document.getElementById('spoiler{{question.id}}') .style.display=='none') {document.getElementById('spoiler{{question.id}}') .style.display=''}else{document.getElementById('spoiler{{question.id}}').style.display='none'}">Show/hide</button>

<p>Originally aired on {{question.airDate}} (show number {{question.showNumber}}) as part of {{question.theRound}}. </p>

{% endfor %}

{% endblock %}
